{% extends 'base.html.twig' %}

{% block title %}Exchanger Rates | Home{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href = " {{ asset('assets/css/style.css')}} ">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="align-center"> Welcome!</h1>
        <br />
        <div class='row align-center'>
            <a href='{{ path('show_rates') }}' class='btn btn-link'>View Exchange Rates</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
{% endblock %}